.box-product{
  padding-top: 50px;
  width: 190px;
  height: 450px;
  margin: auto;

 
}

a,li,ul{
display: flex;
flex-direction: column;
text-decoration: none;
list-style-type: none;
gap: 20px;

}

.discont{
  width: fit-content;
  border: 1px solid yellow;
  background-color: yellow;
}

.value-produtc{
  text-decoration: line-through;
}

.container-product{
  display: flex;
}