/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 1rem;
}

.intro,
.gallery {
  margin-bottom: 2rem;
}

.images {
  display: flex;
  gap: 1rem;
}

.image {
  background-color: #ccc;
  padding: 2rem;
  flex: 1;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/*Adicionando Responsividade*/
@media (max-width: 480px) {
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
  }
  header h1 {
    margin: 0;
    font-size: 26px;
  }
  nav ul {
    display: flex;
    list-style: none;
    gap: 8px;
    font-size: 16px;
    flex-direction: column;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
  .images {
    display: flex;
    flex-direction: column;
  }
  footer p {
    font-size: 16px;
  }
}
